@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Vollkorn+SC');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FFFF2D;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 2em;
  font-family: 'Vollkorn SC', serif;
}

.App-intro {
  font-size: 2.5em;
  font-family: 'Amatic SC', cursive;
  width: 70%;
  margin: auto;
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
